*{
  margin:0;
  padding:0;
}

.topSectionBG{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  background-image:url("conference.jpg");
  background-size:cover;
  background-position:center;
  height:100vh;
}

.topSectionWrapper {
  z-index: 1;
}

@media only screen and (max-width: 918px){
  .longNavbar {
    display: none;
  }
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

@media only screen and (min-width: 918px){
  .shortNavbar {
    display: none;
  }
}

.onlyBorder1 {
    border: 15px solid #42c2f4;
}

.backgroundAndFont {
  background-color: #21324f;
}

.abstract {
  color: red;
  font-weight: bold;
  font-size: 22px;
}

.submitPdf {
  color: black;
}

.eventTitle {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color:#fff;
  height:150px;
}

.eventTitle1 {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color:#fff;
  height:150px;
}

.theTACCLogo{
	height: 30px;
	width: 100px;
}

.menuWrappers {
	margin-top: 25px;
	margin-left: 20px;
}

a {
 	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	transition-duration: 0.4s;
  margin-bottom: -4px;
}

.theOverview {
  padding-top: -100px;
}

a:hover {
	color: #4286f4;
	text-decoration: none;
}

.specialMenuWrapper{
	margin-right: 25px;
}

.taccWrapper{
	margin-top: -2px;
	padding-top: -5px;
	padding-bottom: 5px;
	padding-left: 10px;
  transition-duration: 0.7s;
}

.taccWrapper:hover{
	background-color: #ffffff;
}

.eventTitle > h1{
	font-weight: 900;
	font-size: 45px;
	color: #95b3e2;
}

.btn {
	display: inline-block;
	margin-top: 15px;
	color: #000000;
	font-family: "Roboto";
	font-weight: 400;
	line-height: 1.33;
	border-radius: 6px;
	border: solid 2px #000000;
	background: transparent;
	text-align: center;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.makeItCenter {
  text-align: center;
}

.btn:hover {
	background: #000000;
	color: #FFF;
	text-decoration: none;
}

.btn-lg {
  	padding: 18px 27px;
 	font-size: 20px;
}

.eventTitle1 > h1{
	font-weight: 900;
	font-size: 30px;
	color: #95b3e2;
}

.eventTitle1 > h2{
	font-weight: bold;
	font-size: 25px;
	color: #ffffff;
}

.navbar-default {
	background-color: #08d378;
}

.eventTitle > h2 {
	font-weight: bold;
	font-size: 25px;
	color: #ffffff;
}

.center {
	text-align: justify;
}

.remove {
	color: #21324f;
}

.overviewSec {
	padding-top: 15px;
	background-color: #21324f;
	color: #ffffff;
  padding-bottom: 50px
}

.contact {
	padding-top: 12px;
	background-color: #21324f;
	color: #ffffff;
}

.noList {
	list-style: none;
}

.agenda {
	padding-top: 15px;
background-color: #21324f;
	color: #ffffff;
	text-align: center;
}

.eventTitleDetails {
  margin-top: 40px;
  padding-left: 15%;
}

.thecommitte {
	padding-top: 15px;
background-color: #21324f;
	color: #ffffff;
	padding-left: 40px;
}

.place {
    text-align: left;
}

.theDate {
	padding-top: 15px;
  background-color: #ffffff;
	color: #21324f;
	text-align: center;
}

.date{
    width:200px;
    padding-top: 10px;
    float: left;
    margin-right: 8px;
}

.specificDate {
  margin-top: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.calendar {
  margin-left: 35%;
}

.seperator{
    border-right: 6px solid #d6a780;
    height: 120px;
    margin-top: -10px;
    float: left;
}

.locationLogo {
  margin-left: 40%;
}

.borderY {
  padding-top: 20px;
    padding-left: 8%;
}

.location {
  padding-top: 1px;
  float: left;
  margin-left: 20px;
  width: 205px;
}

.topicsSec {
	padding-top: 10px;
	color: #21324f;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.sponsorLogos {
  height: 100px;
  width: 100px;
}

.workshop {
  margin-top: 10px;
}

.marginLeft {
  padding-left: 30px;
  padding-right: 40px;
}

.backgroundBlue {
  background-color: #21324f;
}

.row1 {
  margin-right: 0px;
  padding-right: 0px;
}

.sponsorMargin1 {
    margin-right: 50px;
}

.sponsorMargin {
  margin-right: 50px;
  margin-left: 10px;
}

.sponsorTACC {
  padding-left: 30px;
}

.onlyBorder {
      border: 15px solid #d6a780;
}

.onlyBorder2 {
      border: 15px solid #000000;
}

.theBorder {
    padding-bottom: 40px;
}

.none {
    font-weight: normal;
}

.fontType {
    font-family: 'Merriweather', serif;
}

.titleScec {
	text-align: center;
	margin-bottom: -20px;
}

.marginTop {
  margin-top: 20px;
}

#navbarTop.scrolled {
  padding-top: 0px;
  background-color: #08d378;
  transition: background-color 200ms linear;
  padding-bottom: 0px;
  -webkit-transition-property: padding; /* Safari */
  -webkit-transition-duration: .5s;
  transition-property: padding;
  -webkit-transition-duration: .5;
}

#navbarTop {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 15px;
  -webkit-transition-property: padding; /* Safari */
  -webkit-transition-duration: .5s;
  transition-property: padding;
  -webkit-transition-duration: .5;
}
